@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .bg-gradient-radial {
    background-image: radial-gradient(var(--tw-gradient-stops));
  }
}
